html{
    color: rgb(15, 1, 1);
    background-color: bisque;
}

body{
    width: 80%;
    margin: auto;
    padding: 1rem;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

img{
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
}

p{
    right: auto;
}

div #auth{
    float:right;
}