{% extends "structure.html" %}

{% block body %}
    <h1>The History of Us</h1>
    <hr>
    <img src="/static/img/funny_avator.jpeg" alt="A funny avator">
    <p>
        Consider this an autobiography of a man I have known all my life.
        A mysterious man really, an enigma of sorts. The kind of man who has gone over mountains, but doesn't know it.
        A strange man, who has urges and desires, but most times has the strength to deny himself.
        Sometimes he conquers, and other times he concurs.
        He is Me.
    </p>
{% endblock body %}