<!DOCTYPE html lang='en'>

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>The To Do List</title>
    </head>

    <body>
        {% block title %}
            
        {% endblock title %}
        
        <a href="/termsOfUse">Terms of Use</a>
        <a href="/privacy">Privacy</a>
        <a href="/about">About</a>
        <a href="/dashboard">Dashboard</a>

        <hr>
        <img src="/static/img/funny_avator.jpeg" alt="A funny avator">

        {% block body %}
            
        {% endblock body %}
    </body>

</html>